@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  width: 100vw;
  align-content: center;
}

.container {
  width: 40%;
  height: 80%;
}

.qr-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1em;
  display: inline-block;
  vertical-align: middle;
}

.qr-code {
  border-radius: 2.5em;
  padding: 4.5%;
}

img {
  width: 90%;
}

p {
  font-family: Outfit;
  word-break: normal;
  position: relative;
  top: -5px;
  margin: 0px 8% 0px 8%;
}

.title {
  font-weight: 700;
  font-size: x-large;
  color: hsl(218, 44%, 22%);
  padding: 7% 0px;
}

.text {
  font-size: medium;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 0px 0px 8% 0px;
}
